@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
}

:root {
    /*========== Colors ==========*/

    --first-color: #f2f2f2;
    --first-color-alt: #1C1C1C;
    --text-color: white;
    --text-color-alt: #1C1C1C;
    --second-color: #ffffff;
    --third-color: #c7c7c7;
    -third-color-alt: #c7c7c7;-

    /*--first-color: #1C1C1C;*/
    /*--first-color-alt: #f2f2f2;*/
    /*--text-color: #1C1C1C;*/
    /*--text-color-alt: white;*/
    /*--second-color: rgba(38, 38, 38, 0.83);*/
    /*--third-color: #f3f3f3;*/
    /*--third-color-alt: rgba(210, 210, 210, 0.47);*/


    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --normal-font-size: .938rem;
}

.dark-theme{
    --first-color: #1C1C1C;
    --first-color-alt: #f2f2f2;
    --text-color: #1C1C1C;
    --text-color-alt: white;
    --second-color: rgba(38, 38, 38, 0.83);
    --third-color: #f3f3f3;
    --third-color-alt: rgba(210, 210, 210, 0.47);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25px;
}

.mobile-phone {
    margin: 140px auto;
    padding: 10px 10px 30px;
    width: 350px;
    height: 600px;
    box-shadow: 0 0 20px #e2e2e2;
    border-radius: 30px;
}

.screen {
    width: 100%;
    height: 100%;
    background: var(--first-color);
    border-radius: 30px;
    overflow-y: auto;
}

.brove {
    width: 150px;
    height: 20px;
    background: white;
    position: absolute;
    margin: 0 100px;
    border-radius: 0 0 20px 20px;
}

.speaker {
    width: 60px;
    height: 5px;
    background: #d2d2d2;
    display: block;
    margin: 5px auto;
    border-radius: 20px;
}

.iphone-settings{
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: var(--first-color-alt);
}

.time{
    padding-left: 15px;
    font-size: var(--normal-font-size);
    color: var(--first-color-alt);
}

.display-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    background-color: var(--second-color);
    height: 35px;
    width: 100px;
    border-radius: 12%;
    border: none;
}

.display-mode button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.aaa{
    font-size: 1.1rem;
    color: var(--third-color-alt);
}

.bbb{
    font-size: 1.1rem;
    color: var(--third-color);
}

.display-mode i:hover{
    font-size: 1.3rem;
    color: #c7c7c7;
    transform: .2s;
    color: var(--first-color-alt);
}

.outcome{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 25px;
    color: var(--text-color-alt);
}
.outcome .result{
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--text-color-alt);
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding-top: 10px;
}

.bt{
    cursor: pointer;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
}

.space{
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
}

.c-1{
    background-color: rgba(80, 80, 80, 0.68);
}

.c-2{
    background-color: #D4D4D2;
}
.c-3{
    background-color: #FF9500;
}

.t-w{
    color: white;
}

.t-b{
    color: black;
}

.bt-2{
    cursor: pointer;
    border: none;
    height: 60px;
    width: 140px;
    border-radius: 30px;
    font-size: 1.5rem;
}
